{% extends 'base.html'%}
{%block nav%}
{% include 'manager/navManager.html'%}
{%endblock%}
{%block title%}Home{%endblock%}
{% block main %}
{% csrf_token %}






<div class="container mt-3 text-center">
    <i><p style="font-size: 0.8rem;">This Page is Under Construction, Features will be added soon</p></i>
    <hr>



    <div>
        <div class="form-group mb-3 mt-5">
          <div class="w-100">
            <h6 class="text-center">Title of the Exam</h6>
            <input type="text" class="w-100 form-control" id="qTitle" placeholder="Give a title"
              style="background-color: rgb(255, 243, 228)" required />
          </div>
  
          <div class="input-group mb-3 d-flex flex-row">
            <div class="w-25 text-center p-2" style="padding-left: 0 !important">
              <span>Date</span>
              <input type="Date" class="w-100 form-control" id="examDate" required="true" placeholder="MM/DD/YYYY" onfocus="(this.type='date')"/>
            
              
            </div>
  
            <div class="w-25 text-center p-2">
              <span>Chapter</span>
              <input type="Number" class="w-100 input-group-text" id="chapter" required="true" />
            </div>
  
            <div class="w-25 text-center p-2">
              <span>Topic</span>
              <input type="Number" class="w-100 input-group-text" id="topic" required="true" />
            </div>
  
            <div class="w-25 text-center p-2" style="padding-right: 0 !important">
              <span>Sub Topic</span>
              <input type="Number" class="w-100 input-group-text" id="subTopic" required="true" />
            </div>
          </div>
        </div>
      </div>
</div>

<!-- {%for q in questions%}
<div class="container">
    <div class="container border border-black-subtle w-100 p-2 mt-3 d-flex flex-row" style="border-radius: 10px;">
        <div class="col-1 text-center"><p style="margin: 0px 0 0 10px;">{{q.module_no}}.{{q.chapter_no}}.{{q.topic_no}}.{{q.sub_topic_no}}. &emsp;|</p></div>
        <div class="container col-11" >
            <p class="p-0 m-0">
                {{q.question_title}}
            </p>
        </div>
    </div>
</div>
{%endfor%} -->




{% endblock %} {% block jsscript %}
<script>
  navMenuItemActivator("navMenuItem4");
</script>
<!-- <script src="{{js}}/quillEditorSettings.js"></script> -->
{% endblock %}