{% extends 'manager/printingPageBase.html'%}
{%block nav%}
{% include 'manager/navManager.html'%}
{%endblock%}
{%block title%}qPrint{%endblock%}
{% block main %}
{% csrf_token %}



<div  class="container w-75 border border-subtle-dark">
    
    <div class="d-flex justify-content-start">
        <button class="btn btn-info mt-2 mb-2" id="printBtn">Print PDF</button>
    </div>
    <hr>
    <div>
        <div id="page" >
            
            <div class="img-fluid text-center w-100">
                <img src="{{img}}/header.jpg" alt="" class="img-fluid m-0">
                <p style="margin: 8px 0 0 0!important;font-size:1rem!important;"><b>{{nameOfExam}}</b></p>
            </div>
            <hr class="mt-1">
            <div class="d-flex flex-row justify-content-center">
                <div class="examInfo" style="margin: 0 2rem 0 2rem!important ;"><p><b>{{totalQuestions}}</b> Questions</p></div>
                <div class="examInfo" style="margin: 0 2rem 0 2rem!important ;"><p><b>{{examDuration}}</b> minutes</p></div>
                <div class="examInfo" style="margin: 0 2rem 0 2rem!important ;"><p>{{examDate}}</p></div>
            </div>
            <hr class="mb-4">
            {% for question in questions %}
            <div class="question mb-1">
                <div class="questionText d-flex flex-row">
                    <b class="bulletPoint smallFont">{{forloop.counter}})</b>
                    
                    <div class="d-flex flex-column">
                        <div  id= '{{question.question_id}}' class="questionList_item" data-qBody="{{question.question_text}}"></div>
                    
                        <div class="questionOptions" style="padding-left: 15px;">


                            <div class="circleStyle">
                                <div class="d-flex flex-row align-items-cente" style="margin-bottom: 2px;">
                                    <div class="border border-dark rounded-circle mcqOp d-flex justify-content-center align-items-center">a</div>
                                    <p class="m-0 p-0 qChoice">&emsp;{{question.choice_1}}</p>
                                </div>
    
                                <div class="d-flex flex-row align-items-center" style="margin-bottom: 2px;">
                                    <div class="border border-dark rounded-circle mcqOp d-flex justify-content-center align-items-center">b</div>
                                    <p class="m-0 p-0 qChoice">&emsp;{{question.choice_2}}</p>
                                </div>
    
    
                                <div class="d-flex flex-row align-items-center" style="margin-bottom: 2px;">
                                    <div class="border border-dark rounded-circle mcqOp d-flex justify-content-center align-items-center">c</div>
                                    <p class="m-0 p-0 qChoice">&emsp;{{question.choice_3}}</p>
                                </div>
    
    
                                <div class="d-flex flex-row align-items-center" style="margin-bottom: 2px;">
                                    <div class="border border-dark rounded-circle mcqOp d-flex justify-content-center align-items-center">d</div>
                                    <p class="m-0 p-0 qChoice">&emsp;{{question.choice_4}}</p>
                                </div>
                            </div>
                            
                            <div class="pointStyle">

                                <div class="d-flex flex-row align-items-cente" style="margin-bottom: 2px;">
                                    <div class="mcqOp d-flex justify-content-center align-items-center">a.</div>
                                    <p class="m-0 p-0 qChoice">&emsp;{{question.choice_1}}</p>
                                </div>
    
                                <div class="d-flex flex-row align-items-center" style="margin-bottom: 2px;">
                                    <div class="mcqOp d-flex justify-content-center align-items-center">b.</div>
                                    <p class="m-0 p-0 qChoice">&emsp;{{question.choice_2}}</p>
                                </div>
    
    
                                <div class="d-flex flex-row align-items-center" style="margin-bottom: 2px;">
                                    <div class="mcqOp d-flex justify-content-center align-items-center">c.</div>
                                    <p class="m-0 p-0 qChoice">&emsp;{{question.choice_3}}</p>
                                </div>
    
    
                                <div class="d-flex flex-row align-items-center" style="margin-bottom: 2px;">
                                    <div class="mcqOp d-flex justify-content-center align-items-center">d.</div>
                                    <p class="m-0 p-0 qChoice">&emsp;{{question.choice_4}}</p>
                                </div>
                            </div>
                        
                        </div>
                    </div>            
                
                </div>
    
                <hr>
    
                
    
            </div>
            {%endfor%}

            <div class="text-center smallFont mt-5"><P>End of Questions</P></div>
        </div>
    </div>
    
</div>



  


{% endblock %}

{% block jsscript %}

<script>
  navMenuItemActivator("navMenuItem5");
  questionList_display();
  //hideBullets('pointStyle');
  hideBullets('circleStyle');
</script>
{% endblock %}


